<div class="w3-card-4" style="    width: 500px;margin: auto;padding: 15px;margin-top: 50px">
    <form class=" ">
        <h2 class=" w3-center w3-text-blue">Register</h2>
        <p>
            <label class="w3-text-blue"><b>First Name</b></label>
            <input class="w3-input w3-border" ng-model='user.fristname' name="firstname" type="text"></p>
        <p>
            <label class="w3-text-blue"><b>Last Name</b></label>
            <input class="w3-input w3-border" ng-model='user.lastname' name="lastname" type="text"></p>
        <p>
            <label class="w3-text-blue"><b>UserName</b></label>
            <input class="w3-input w3-border" ng-model='user.username' name="username" type="text"></p>
        <!-- <p>
            <label class="w3-text-blue"><b>Server URL</b></label>
            <input class="w3-input w3-border" ng-model='user.serverurl'  name="serverurl" type="text"></p> -->
        <p>
            <button class="w3-btn w3-blue" ng-click="clickRegister()">Register</button></p>
    </form>
</div>